{% extends 'superhero_theme.html' %}

{% block content %}

<div class="container-fluid ">
    <br>
    <h1 class="text-center">SuperHero List</h1>
<br>
</div>



<div class="container-fluid">
    <table class="table table-borderless">
        <tbody>

            {% for superhero in all_heros_list %}
            <tr>
                <td>
                    <h3>
                    <a href="hero/{{ superhero }}">{{ superhero }} Profile</a>
                    </h3>
                </td>
                <td> <img src="/static/images/{{ superhero }}.jpg" alt="{{ superhero }}" height="200px"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
