<!-- templates/home.html -->

{% extends 'base.html' %}

{% load static %}

{% block content %}
<main role="main">
        <div class="container">
            <br>
            <br>
            <br>
            <div style="margin-bottom: 1; !important;
                    padding-bottom: 10px; !important" class="jumbotron">
                <div class="container">
                    <h1 class="display-3">HomePage</h1>
                    
                    
                    
                </div>
                
                


            </div>
        </div>
    </main>

{% endblock %}
